.list-group-item:hover{
    font-weight: bolder;
}
h6{
    color:#4125D9
}


h5{
    color:#F779B0;
   text-decoration:underline;
}

  .fetching{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    color: rgb(9, 255, 0);
    font-size: 5em;
    justify-content: center;
    align-items: center;
}
.spinner{
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
.bg-blue{
  background-color:  rgb(65, 37, 217);
  color: white;
}
.bg-green{
  background-color:  rgb(9, 255, 0);
  color: #4125D9 ;
}
.color-green{
  background-color: black;
  color:  rgb(9, 255, 0);;
}