input , label{
    width: 70%;
    
}
label{
    font-weight: bold;
text-align: left;
    
}
input:focus {
    background-color: rgba(179, 235, 184, 0.559);
    border: 3px solid #555;

  }
  input{
    height: 150%;
  }
.container{
  padding-top: 80px;
  /*padding-left: 180px;
  padding-right: 180px;*/
  display:flexbox

}